input {
    mouse {
        // 关闭鼠标加速，使用 1:1 的映射
        accel-profile "flat"
        // 将速度偏移设置为 0。
        // 取值范围通常是 -1.0 到 1.0。
        accel-speed 0.2
    }
}

// 配置 Firefox 默认最大化
window-rule {
    match app-id="firefox"
    open-maximized true
}

// 配置 Clash Verge 窗口默认悬浮
window-rule {
    match app-id="clash-verge"
    open-floating true
    default-column-width { proportion 0.5; }
    default-window-height { proportion 0.8; }
}
